* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.container {
  height: 100vh;
  padding: 20px;
}

.layout {
  display: flex;
  gap: 20px;
  height: 100%;
}

/* ESQUERDA */
.painel-esquerdo {
  width: 35%;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 10px;
  color: white;
}

/* DIREITA */
.painel-direito {
  width: 65%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}

#scanner {
  width: 100%;
  height: 250px;
  background: black;
  margin-bottom: 10px;
}

.form-tabela {
  width: 100%;
  color: white;
}

.form-tabela td {
  padding: 6px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

/* BOTÕES */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button[onclick*="entrada"] {
  background: #28a745;
}

button[onclick*="saida"] {
  background: #dc3545;
}

/* BUSCA */
.input-busca {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

/* TABELA */
.tabela-estoque {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

.tabela-estoque th {
  background: #243b55;
  color: white;
  padding: 12px;
}

.tabela-estoque td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.tabela-estoque tr:hover {
  background: #f1f1f1;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }

  .painel-esquerdo,
  .painel-direito {
    width: 100%;
  }
}